body {
    margin: 0;
    font-family: arial;
}

#mother{
    height: 100vh;
    width: 100%;
    background-color: #aab;
}


li{
    height: 25px;
    width: 100px;
    background-color: yellow;
    border-radius: 1px;
    list-style-type: none;
    margin: 5px;
    padding: 5px;
}
.winner{
    height: 100px;
    width: 200px;
    background-color: purple;
    margin: 40% 20%;
    text-align: center;
    color: white;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    top: 0;
}

#name{
   
}


.control{
    height: 55px;
    width: 95%;
    padding: 7px;
    padding-top: 0;
    border: 1px solid purple;
    background-color: aqua;
    
}


.control button{
    border-radius: 5px;
    padding: 5px;
    color: white;
    background-color: #123423;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 1px 1px 1px purple;
}

.control input{
    height: 25px;
    width: 120px;
    border-radius: 1px;
    box-shadow: none;
    font-size: 14px;
    border: 1px solid purple;
}
